{% extends 'base.html.twig' %}

{% block title %}{{ 'title.invoicing'|trans }}!{% endblock %}

{% block javascripts %}
    <script>
        $(function () {
            $('[data-toggle="tooltip"]').tooltip()
        });

        let $collectionHolder;
        let $removeFormButton = $('<td><button class="btn btn-danger" type="button"><i class="fas fa-trash"></i></button></td>');
        let $calcFormButton = $('<td><button class="btn btn-primary" type="button"><i class="fas fa-calculator"></i></button></td>');

        jQuery(document).ready(function () {

            // Get the ul that holds the collection of tags
            $collectionHolder = $('tbody.invoices');

            // add a delete link to all of the existing tag form li elements
            $collectionHolder.find('tr').each(function () {
                addTagFormCalcLink($(this));
                addTagFormDeleteLink($(this));
            });

            // count the current form inputs we have (e.g. 2), use that as the new
            // index when inserting a new item (e.g. 2)
            $collectionHolder.data('index', $collectionHolder.find('tr').length);

            let $addTagLink = $('button.add-a-tag');
            $addTagLink.on('click', function (e) {
                // prevent the link from creating a "#" on the URL
                e.preventDefault();

                // add a new tag form (see code block below)
                addTagForm($collectionHolder, $addTagLink);
            });
        });

        function addTagForm($collectionHolder) {
            // Get the data-prototype explained earlier
            let prototype = $collectionHolder.data('prototype');

            // get the new index
            let index = $collectionHolder.data('index');

            // Replace '$$name$$' in the prototype's HTML to
            // instead be a number based on how many items we have
            let newForm = prototype.replace(/__name__/g, index);

            // increase the index with one for the next item
            $collectionHolder.data('index', index + 1);

            // Display the form in the page in an li, before the "Add a tag" link td
            let $newFormTr = $('<tr class="table-secondary invoicePosition"></tr>').append(newForm);

            addTagFormCalcLink($newFormTr);
            addTagFormDeleteLink($newFormTr);

            $collectionHolder.append($newFormTr);
        }

        function addTagFormCalcLink($tagFormTr) {
            let $thisCalcFormButton = $calcFormButton.clone();

            $tagFormTr.append($thisCalcFormButton);

            $thisCalcFormButton.on('click', function () {
                let $totalField = $tagFormTr.find('input.hidden-total');
                let $price = $tagFormTr.find('input.hidden-price').val();
                let $multiplier = $tagFormTr.find('input.hidden-multiplier').val();
                let $newValue = Number($price * $multiplier);
                console.log($newValue);
                $totalField.val(currencyFormatUS($newValue));
                $totalField.change(); // trigger change
            });
        }

        function addTagFormDeleteLink($tagFormTr) {
            let $thisRemoveFormButton = $removeFormButton.clone();

            $tagFormTr.append($thisRemoveFormButton);

            $thisRemoveFormButton.on('click', function () {
                // remove the li for the tag form
                $tagFormTr.remove();
            });
        }

        function currencyFormatDE(num) {
            return (
                num
                    .toFixed(2) // always two decimal digits
                    .replace('.', ',') // replace decimal point character with ,
                    .replace(/(\d)(?=(\d{3})+(?!\d))/g, '$1.')
            ) // use . as a separator
        }

        function currencyFormatUS(num) {
            return (
                num
                    .toFixed(2) // always two decimal digits
                    .replace(/(\d)(?=(\d{3})+(?!\d))/g, '$1,')
            ) // use , as a separator
        }

        function updateTotal() {
            console.log('update Total');
            let $total = 0;
            // Get the ul that holds the collection of tags
            $collectionHolder = $('tbody.invoices');

            // add a delete link to all of the existing tag form li elements
            $collectionHolder.find('tr').each(function () {
                $total += parseInt($(this).find('input.hidden-total').val().replace(',', ''));
            });
            console.log($total);
            $('th.final_total').html(currencyFormatUS($total) + ' €');
        }
    </script>
{% endblock %}

{% block body %}

    <div class="jumbotron">
        <h1 class="display-4">{{ 'title.invoicing'|trans }}!</h1>
        {{ form_start(form) }}
        <p class="lead">{{ 'description.invoicing'|trans }}</p>
        {{ form_row(form.name) }}
        {{ form_row(form.invoice_address) }}
        <hr class="my-4">
        <table class="table table-middle-aligned">
            <thead class="thead-dark">
            <tr>
                <th class="text-center" scope="col"
                    style="width: 45%">{{ 'position_item_description.invoice'|trans }}</th>
                <th class="text-center" scope="col" style="width: 15%">{{ 'position_item_price.invoice'|trans }}</th>
                <th class="text-center" scope="col" style="width: 10%">{{ 'position_multiplier.invoice'|trans }}</th>
                <th class="text-center" scope="col" style="width: 25%">{{ 'position_total.invoice'|trans }}</th>
                <th class="text-center" scope="col" style="width: 2.5%"></th>
                <th class="text-center" scope="col" style="width: 2.5%"></th>
            </tr>
            </thead>
            <tbody class="invoices" data-prototype="
                {{ '<td class="text-center">'|e }}{{ form_widget(form.invoicePositions.vars.prototype.description)|e }}                     {{ '</td>'|e }}
                {{ '<td class="text-center">'|e }}{{ form_widget(form.invoicePositions.vars.prototype.price)|e }}                           {{ '</td>'|e }}
                {{ '<td class="text-center">'|e }}{{ form_widget(form.invoicePositions.vars.prototype.multiplier)|e }}                      {{ '</td>'|e }}
                {{ '<td class="text-center" onchange="updateTotal()">'|e }}{{ form_widget(form.invoicePositions.vars.prototype.total)|e }}   {{ '</td>'|e }}
            ">
            {{ form_row(form._token) }}
            {% for invoicePosition in form.invoicePositions %}
                <tr class="invoicePosition">
                    <td class="text-center">{{ form_widget(invoicePosition.description) }}</td>
                    <td class="text-center">{{ form_widget(invoicePosition.price) }}</td>
                    <td class="text-center">{{ form_widget(invoicePosition.multiplier) }}</td>
                    <td class="text-center" onchange="updateTotal()">{{ form_widget(invoicePosition.total) }}</td>
                </tr>
            {% endfor %}
            <thead class="total">
            <th class="text-right" colspan="3">{{ 'total.invoicing'|trans }}</th>
            <th class="text-right final_total">{{ (invoice.total/100)|number_format(2) }} €</th>
            <th></th>
            <th></th>
            </thead>
            </tbody>
        </table>


        {% if is_granted('ROLE_PREVIOUS_ADMIN') or date(end_date, 'Europe/Paris') > date('now', 'Europe/Paris') %}
            <div class="bg-light clearfix">
                <button class="btn btn-primary btn-lg btn-success float-left add-a-tag"
                        type="button">{{ 'generic.add'|trans }}</button>
                <input class="btn btn-secondary btn-lg float-right" name="publish" type="submit" data-toggle="tooltip"
                       data-placement="top"
                       title="{{ 'generic.tooltip.save'|trans }}" value="{{ 'save_and_back.invoice'|trans }}"/>
                <input class="btn btn-primary btn-lg float-right mr-1" type="submit" data-toggle="tooltip"
                       data-placement="top"
                       title="{{ 'generic.tooltip.save'|trans }}" value="{{ 'generic.save'|trans }}"/>
                <a href="{{ path('invoicing', {'uid': invoice.id}) }}"
                   class="btn btn-primary btn-lg btn-warning float-right mr-1"
                   role="button"
                   data-toggle="tooltip" data-placement="top"
                   title="{{ 'generic.tooltip.cancel'|trans }}">{{ 'generic.cancel'|trans }}</a>
                <a class="btn btn-danger btn-lg float-right mr-1 " href="javascript:void(0)"
                   onclick="if(confirm('Are you sure you want to delete this invoice of {{ app.user.club }}?')){window.location='{{ path('delete_invoice', {'uid': invoice.id}) }}';}">
                    <i class="fas fa-trash" aria-hidden="true"></i></a>
            </div>
        {% endif %}
        {{ form_end(form, {'render_rest': false}) }}
    </div>
{% endblock %}