{% extends 'base.html.twig' %}

{% block title %}{{ 'title.admin'|trans }}!{% endblock %}

{% block body %}

    <div class="jumbotron">
        <h1 class="display-4">{{ 'title.admin'|trans }}</h1>
        {{ form_start(form) }}
        {{ form_widget(form) }}
        <input class="btn btn-primary btn-lg" type="submit" value="Send ChangeSet Mail"/>
        {{ form_end(form) }}
        <hr class="my-4">
        <table class="table table-striped">
            <thead class="thead-dark">
            <tr>
                <th scope="col">ID</th>
                <th scope="col"></th>
                <th scope="col">Club</th>
                <th scope="col">User Email</th>
                <th scope="col">O</th>
                <th scope="col">C</th>
                <th scope="col">Action</th>
            </tr>
            </thead>
            <tbody>
            {% for registration in registrations %}
                <tr>
                    <td>{{ registration.id }}</td>
                    <td>{{ registration.country }}</td>
                    <td>{{ registration.club }}</td>
                    <td>{{ registration.email }}</td>
                    <td>{{ registration.officials.count }}</td>
                    <td>{{ registration.contestants.count }}</td>
                    <td>
                        <a class="btn btn-info" role="button"
                           data-toggle="tooltip" data-placement="top"
                           title="Login as user"
                           href="{{ path('welcome', {'_switch_user': registration.email }) }}">
                            Angucken
                        </a>
                        <a class="btn btn-danger" href="javascript:void(0)"
                           onclick="if(confirm('Are you sure you want to delete {{ registration.club }} and all its registered officials, contestants, and transport ?')){window.location='{{ path('delete_registration', {'uid': registration.id}) }}';}"><i
                                    class="fa fa-trash" aria-hidden="true"></i></a>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}