{% extends 'base.html.twig' %}

{% block title %}{{ 'title.admin'|trans }}!{% endblock %}

{% block body %}

    <div class="jumbotron">
        <h1 class="display-4">{{ 'title.admin'|trans }}</h1>
        {{ form_start(form) }}
        {{ form_widget(form) }}
        <input class="btn
        {% if showSentNotification %}
        btn-success
        {% else %}
        btn-primary
        {% endif %}
        btn-lg" type="submit" value="Send ChangeSet Mail"/>
        {{ form_end(form) }}
        <hr class="my-4">
        <table class="table">
            <thead class="thead-dark">
            <tr>
                <td colspan="5"></td>
                <th class="text-center" colspan="4">Übernachtungen</th>
                <td colspan="3"></td>
            </tr>
            <tr>
                <th scope="col">ID</th>
                <th scope="col"></th>
                <th scope="col">Club</th>
                <th scope="col">O</th>
                <th scope="col">C</th>
                <th scope="col">Fri</th>
                <th scope="col">Sat</th>
                <th scope="col">Tue</th>
                <th scope="col">Wed</th>
                <th scope="col"><i class="fas fa-plane-arrival"></i></th>
                <th scope="col"><i class="fas fa-plane-departure"></i></th>
                <th scope="col">Action</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td>&sum;</td>
                <td></td>
                <td>{{ countRegistrations }}</td>
                <td>{{ countOfficials }}</td>
                <td>{{ countContestants }}</td>
                <td class="table-active">{{ countFri }}</td>
                <td class="table-active">{{ countSat }}</td>
                <td class="table-active">{{ countITCtillTu }}</td>
                <td class="table-active">{{ countITCtillWe }}</td>
                <td>{{ countArrivals }}</td>
                <td>{{ countDepartures }}</td>
                <td></td>
            </tr>
            {% for registration in registrations %}
                <tr>
                    <td>{{ registration.id }}</td>
                    <td>{{ registration.country }}</td>
                    <td>{{ registration.club }}</td>
                    <td>{{ registration.officials.count }}</td>
                    <td>{{ registration.contestants.count }}</td>
                    <td class="table-active">{{ registration.overnightFridayCount }}</td>
                    <td class="table-active">{{ registration.overnightSaturndayCount }}</td>
                    <td class="table-active">{{ registration.iTCToTuesdayCount }}</td>
                    <td class="table-active">{{ registration.iTCToWednesdayCount }}</td>

                    <td>
                        <input class="check-input" type="checkbox" disabled
                                {% if registration.arrival %}
                                    checked
                                {% endif %}

                               title="Arrival"
                        >
                    </td>
                    <td>
                        <input class="check-input" type="checkbox" disabled
                                {% if registration.departure %}
                                    checked
                                {% endif %}
                        />
                    </td>
                    <td>
                        <a class="btn btn-primary" role="button"
                           data-toggle="tooltip" data-placement="top"
                           title="Login as user"
                           href="{{ path('welcome', {'_switch_user': registration.email }) }}">
                            Angucken
                        </a>
                        <a class="btn btn-info" role="button"
                           data-toggle="tooltip" data-placement="top"
                           title="Add a new invoice"
                           href="{{ path('new_invoice', {'_switch_user': registration.email}) }}">
                            <i class="fas fa-hand-holding-usd"></i>
                        </a>
                        {% for invoice in registration.invoices %}
                            <a class="btn {{ invoice.published ? "btn-success" : "btn-warning" }}" role="button"
                               href="{{ path('invoicing', {'_switch_user': registration.email, 'uid': invoice.id }) }}">
                                <i class="fas fa-file-invoice-dollar"></i>
                            </a>
                        {% endfor %}
                        <!--a class="btn btn-info" role="button"
                           data-toggle="tooltip" data-placement="top"
                           title="Send confirmation mail"
                           href="{{ path('confirm_registration', {'uid': registration.id}) }}">
                            <i class="fa fa-envelope" aria-hidden="true"></i>
                        </a-->
                        <a class="btn btn-danger" href="javascript:void(0)"
                           onclick="if(confirm('Are you sure you want to delete {{ registration.club }} and all its registered officials, contestants, and transport ?')){window.location='{{ path('delete_registration', {'uid': registration.id}) }}';}">
                            <i class="fas fa-trash" aria-hidden="true"></i></a>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>

        <p>
            <a class="btn btn-primary" data-toggle="collapse" href="#collapseJSON" role="button" aria-expanded="false"
               aria-controls="collapseJSON">
                Thomas' Export
            </a>
        </p>
        <div class="collapse" id="collapseJSON">
            <button class="btn clipboard" data-clipboard-action="copy" data-clipboard-text="{{ allContestants }}">
                Contestants CSV
            </button>
            <button class="btn clipboard" data-clipboard-action="copy" data-clipboard-text="{{ allOfficials }}">
                Officials CSV
            </button>
            <button class="btn clipboard" data-clipboard-action="copy" data-clipboard-text="{{ allContestantsJSON }}">
                Contestants JSON
            </button>
            <button class="btn clipboard" data-clipboard-action="copy" data-clipboard-text="{{ allOfficialsJSON }}">
                Officials JSON
            </button>
        </div>

        <script src="https://unpkg.com/clipboard@2.0.0/dist/clipboard.min.js"></script>
        <script>
            new ClipboardJS('.clipboard');
        </script>
    </div>
{% endblock %}
