{% extends 'base.html.twig' %}

{% block title %}{{ 'title.forgot_password'|trans }}!{% endblock %}

{% block body %}
    <div class="jumbotron">
        <h1 class="display-4">{{ 'title.forgot_password'|trans }}</h1>
        <p class="lead">{{ 'description.top.forgot_password'|trans }}</p>
        <hr class="my-4">
        <div>
            {{ form_start(my_form) }}
            {{ form_widget(my_form) }}
            <input class="btn btn-primary btn-lg" type="submit" value="{{ 'generic.reset_password'|trans }}"/>
            {{ form_end(my_form) }}
            {{ form_errors(my_form) }}
        </div>
    </div>
{% endblock %}
