{% extends 'base.html.twig' %}

{% block title %}{{ 'title.registration_new'|trans }}!{% endblock %}

{% block body %}
    <div class="jumbotron">
        <h1 class="display-4">{{ 'title.registration_new'|trans }}</h1>
        <p class="lead">{{ 'description.registration_new'|trans|raw }}</p>
        <hr class="my-4">
        <div>
            {{ form_start(my_form) }}
            {{ form_widget(my_form) }}
            <input class="btn btn-primary btn-lg" type="submit"  value="{{ 'generic.register'|trans }}"/>
            {{ form_end(my_form) }}
        </div>
    </div>
{% endblock %}
