{% extends 'base.html.twig' %}

{% block title %}{{ 'title.welcome'|trans }}{% endblock %}

{% block body %}
    <div class="container">
        <div class="jumbotron">
            <h1 class="display-4">{{ 'greeting.welcome'|trans|raw }}</h1>
            <p class="lead">{{ 'greeting.top'|trans }}</p>
            <hr class="my-4">
            <p>{{ 'greeting.middle'|trans }}</p>
            {% if is_granted('IS_AUTHENTICATED_FULLY') %}
                <a class="btn btn-primary btn-lg" href="{{ path('edit_registration') }}" role="button">{{ 'menu.registration_edit'|trans }}</a>
                <a class="btn btn-primary btn-lg" href="{{ path('officials') }}" role="button">{{ 'menu.officials_edit'|trans }}</a>
                <a class="btn btn-primary btn-lg" href="{{ path('contestants') }}" role="button">{{ 'menu.contestants_edit'|trans }}</a>
                <a class="btn btn-primary btn-lg" href="{{ path('transports') }}" role="button">{{ 'menu.transport_edit'|trans }}</a>
            {% else %}
                <a class="btn btn-primary btn-lg" href="{{ path('registration') }}" role="button">{{ 'start'|trans }}</a>
            {% endif %}
            <hr class="my-4">
            <p>{{ 'greeting.contact_us'|trans }}</p>
            <p>Thüringer Judo-Verband e.V.<br/>
                Schützenstraße 4<br/>
                99096 Erfurt<br/>
                <a class="fa fa-phone" href="tel:0049-0361-3731647"> +49 (0) 361 373 16 47</a><br/>
                <a class="fa fa-envelope" href="mailto:info@thueringer-judoverband.de"> info@thueringer-judoverband.de</a><br/>
            </p>
        </div>
    </div>
{% endblock %}
