{% extends 'base.html.twig' %}

{% block title %}{{ 'admin.contestants.title'|trans }}{% endblock %}

{% block stylesheets %}
    <link href="{{ asset('styling/bootstrap-table.min.css') }}" rel="stylesheet">
    <link href="{{ asset('styling/bootstrap-table-filter-control.min.css') }}" rel="stylesheet">
{% endblock %}

{% block headscripts %}
    <script src="{{ asset('js/bootstrap-table.min.js') }}" type="text/javascript"></script>
    <script src="{{ asset('js/bootstrap-table-export.js') }}" type="text/javascript"></script>
    <script src="https://cdn.jsdelivr.net/npm/tableexport.jquery.plugin@1.26.0/tableExport.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/tableexport.jquery.plugin@1.26.0/libs/js-xlsx/xlsx.core.min.js"></script>
    <script src="{{ asset('js/bootstrap-table-filter-control.min.js') }}" type="text/javascript"></script>
    <script src="{{ asset('js/bootstrap-table-%s.min.js'|format(app.request.locale|upper)) }}" type="text/javascript"></script>
{% endblock %}

{% block javascript %}
    <script>
        window.myIcons = {
            columns: 'fa-th-list',
            export: 'fa-download'
        }
    </script>
    <script>
        $(document).ready(function () {
            let headers = $('#contestants-table thead tr th')
            headers.each(function () {
                    $(this).attr("data-tableexport-value", $(this).text())
                }
            )
        })
    </script>
{% endblock %}

{% block body %}
    <div class="container">
        <div class="p-5 mb-4 bg-light rounded-3">
            <h1 class="display-4">{{ 'admin.contestants.title'|trans }}</h1>
            <hr class="my-4">
            <table
                id="contestants-table"
                data-toggle="table"
                data-locale="{{ app.request.locale }}"
                data-icons-prefix="fa"
                data-icons="myIcons"
                data-search="true"
                data-search-align="left"
                data-search-accent-neutralise="true"
                data-pagination="true"
                data-show-columns="true"
                data-buttons-align="left"
                data-buttons-class="primary"
                data-filter-control="true"
                data-show-export="true"
                data-export-types="['csv', 'xlsx']"
                data-export-data-type="all"
            >
                <caption>{{ 'admin.contestants.title'|trans }}</caption>
                <thead>
                <tr>
                    <th data-sortable="true" data-field="first-name" data-filter-control="input">
                        {{ 'participants.contestants.data.first-name'|trans }}
                    </th>
                    <th data-sortable="true" data-field="last-name" data-filter-control="input">
                        {{ 'participants.contestants.data.last-name'|trans }}
                    </th>
                    <th data-sortable="true" data-field="registration-id" data-filter-control="input">
                        {{ 'registration.data.id'|trans }}
                    </th>
                    <th data-sortable="true" data-field="club" data-filter-control="select">
                        {{ 'admin.data.club'|trans }}
                    </th>
                    <th data-sortable="true" data-field="country" data-filter-control="select">
                        {{ 'admin.data.country'|trans }}
                    </th>
                    <th data-sortable="true" data-field="year" data-filter-control="select">
                        {{ 'participants.contestants.data.year'|trans }}
                    </th>
                    <th data-sortable="true" data-field="age-category" data-filter-control="select">
                        {{ 'participants.contestants.data.age-category.title'|trans }}
                    </th>
                    <th data-sortable="true" data-field="weight-category" data-filter-control="select">
                        {{ 'participants.contestants.data.weight-category'|trans }}
                    </th>
                    <th data-sortable="true" data-field="itc-selection" data-filter-control="select">
                        {{ 'participants.contestants.data.itc-selection.title'|trans }}
                    </th>
                    <th data-sortable="true" data-field="comment" data-filter-control="input">
                        {{ 'participants.contestants.data.comment.for'|trans }}
                    </th>
                </tr>
                </thead>
                <tbody>
                {% for contestant in contestants %}
                    <tr>
                        <td>{{ contestant.firstName }}</td>
                        <td>{{ contestant.lastName }}</td>
                        <td data-tableexport-xlsxformatid="1">{{ contestant.registration.id }}</td>
                        <td>{{ contestant.registration.club }}</td>
                        <td>{{ contestant.registration.country }}</td>
                        <td data-tableexport-xlsxformatid="1">{{ contestant.year }}</td>
                        <td>{{ "participants.contestants.data.age-category.#{ contestant.ageCategory }"|trans }}</td>
                        <td data-tableexport-xlsxformatid="1">{{ contestant.weightCategory }}</td>
                        <td>{{ "participants.contestants.data.itc-selection.#{ contestant.itcSelection }"|trans }}</td>
                        <td>{{ contestant.comment }}</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}
