{% extends 'base.html.twig' %}

{% block title %}{{ 'admin.title'|trans }}{% endblock %}

{% block body %}
    <div class="container">
        <div class="p-5 mb-4 bg-light rounded-3">
            <h1 class="display-4">{{ 'admin.title'|trans }}</h1>
            <hr class="my-4">
            <table class="table">
                <caption>Admin table</caption>
                <thead class="table-dark">
                <tr>
                    <td colspan="5" class="table-light"></td>
                    <td colspan="4" class="text-center">{{ 'admin.data.itc-selection.title'|trans }}</td>
                    <td colspan="1" class="table-light"></td>
                </tr>
                <tr>
                    <th scope="col">{{ 'admin.data.id'|trans }}</th>
                    <th scope="col">{{ 'admin.data.country'|trans }}</th>
                    <th scope="col">{{ 'admin.data.club'|trans }}</th>
                    <th scope="col">{{ 'admin.data.officials'|trans }}</th>
                    <th scope="col">{{ 'admin.data.contestants'|trans }}</th>
                    <th scope="col">{{ 'admin.data.itc-selection.pack-A'|trans }}</th>
                    <th scope="col">{{ 'admin.data.itc-selection.pack-B'|trans }}</th>
                    <th scope="col">{{ 'admin.data.itc-selection.pack-C'|trans }}</th>
                    <th scope="col">{{ 'admin.data.itc-selection.pack-D'|trans }}</th>
                    <th scope="col">{{ 'admin.action.title'|trans }}</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td>&sum;</td>
                    <td></td>
                    <td>{{ registrationsCount }}</td>
                    <td>{{ officialsCount }}</td>
                    <td>{{ contestantsCount }}</td>
                    <td class="table-active">{{ packageACount }}</td>
                    <td class="table-active">{{ packageBCount }}</td>
                    <td class="table-active">{{ packageCCount }}</td>
                    <td class="table-active">{{ packageDCount }}</td>
                    <td></td>
                </tr>
                {% for registration in registrations %}
                    <tr>
                        <td>{{ registration.id }}</td>
                        <td>{{ registration.country }}</td>
                        <td>{{ registration.club }}</td>
                        <td>{{ registration.officials.count }}</td>
                        <td>{{ registration.contestants.count }}</td>
                        <td class="table-active">{{ registration.packageACount }}</td>
                        <td class="table-active">{{ registration.packageBCount }}</td>
                        <td class="table-active">{{ registration.packageCCount }}</td>
                        <td class="table-active">{{ registration.packageDCount }}</td>
                        <td>
                            <form style="display: inline" method="post" action="{{ path('registration_delete', {'id': registration.id}) }}"
                                  onsubmit="return confirm('{{ 'registration.edit.confirm-delete'|trans({'club': registration.club}) }}');">
                                <button class="btn btn-danger"><i class="fas fa-trash" aria-hidden="true"></i></button>
                            </form>
                            <a class="btn btn-primary" role="button"
                               data-toggle="tooltip" data-placement="top"
                               title="Als dieser Nutzer einloggen"
                               href="{{ path('welcome', {'_switch_user': registration.email }) }}">
                                <i class="fas fa-sign-in-alt"></i>
                            </a>
                            <a class="btn btn-info" role="button"
                               data-toggle="tooltip" data-placement="top"
                               title="{{ 'admin.action.invoice.new'|trans }}"
                               href="{{ path('invoice_new', {'registrationId': registration.id }) }}">
                                <i class="fas fa-hand-holding-usd"></i>
                            </a>
                            {% for invoice in registration.invoices %}
                                <a class="btn {{ invoice.published ? "btn-success" : "btn-warning" }}" role="button"
                                   data-toggle="tooltip" data-placement="top"
                                   title="{{ 'admin.action.invoice.tooltip'|trans({'subId': invoice.subId, 'name': invoice.name}) }}"
                                   href="{{ path('invoice_edit', {'id': invoice.id }) }}">
                                    <i class="fas fa-file-invoice-dollar"></i>
                                </a>
                            {% endfor %}
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}
