<!DOCTYPE html>
<html lang="{{ app.request.locale }}">
<body>

<h1>
    ITP Registration
</h1>
<h2>
    Change History from {{ from_date }} to {{ to_date }}
</h2>
<div>
    <h3>New Registrations:</h3>
    <table border="1">
        <thead>
        <tr>
            <th>{{ 'When'|trans }}</th>
            <th>{{ 'Club'|trans }}</th>
            <th>{{ 'First name'|trans }}</th>
            <th>{{ 'Last name'|trans }}</th>
            <th>{{ 'Email'|trans }}</th>
            <th>{{ 'Telephone'|trans }}</th>
            <th>{{ 'Comment'|trans }}</th>
        </tr>
        </thead>
        <tbody>
        {% for newRegistration in newRegistrations %}
            <tr>
                <td>{{ newRegistration.timestamp|date("Y-m-d H:i:s"|trans) }}</td>
                <td>{{ newRegistration.club }}</td>
                <td>{{ newRegistration.firstName }}</td>
                <td>{{ newRegistration.lastName }}</td>
                <td>{{ newRegistration.email }}</td>
                <td>{{ newRegistration.telephone }}</td>
                <td>{{ newRegistration.comment }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
</div>
<hr/>
<div>
    <h3>New Officials:</h3>
    <table border="1">
        <thead>
        <tr>
            <th>{{ 'When'|trans }}</th>
            <th>{{ 'Club'|trans }}</th>
            <th>{{ 'first_name.participants'|trans }}</th>
            <th>{{ 'last_name.participants'|trans }}</th>
            <th>{{ 'role.participants'|trans }}</th>
            <th>{{ 'gender.participants'|trans }}</th>
            <th>{{ 'friday.participants'|trans }}</th>
            <th>{{ 'saturnday.participants'|trans }}</th>
            <th>{{ 'itc.participants'|trans }}</th>
        </tr>
        </thead>
        <tbody>
        {% for newOfficial in newOfficials %}
            <tr>
                <td>{{ newOfficial.timestamp|date("Y-m-d H:i:s"|trans) }}</td>
                <td>{{ newOfficial.registration.club }}</td>
                <td>{{ newOfficial.firstName }}</td>
                <td>{{ newOfficial.lastName }}</td>
                <td>{{ newOfficial.role }}</td>
                <td>{{ newOfficial.gender }}</td>
                <td>{% if newOfficial.friday %}yes{% else %}no{% endif %}</td>
                <td>{% if newOfficial.saturday %}yes{% else %}no{% endif %}</td>
                <td>{{ newOfficial.itc }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
</div>
<hr/>
<div>
    <h3>New Contestant:</h3>
    <table border="1">
        <thead>
        <tr>
            <th>{{ 'When'|trans }}</th>
            <th>{{ 'Club'|trans }}</th>
            <th>{{ 'first_name.participants'|trans }}</th>
            <th>{{ 'last_name.participants'|trans }}</th>
            <th>{{ 'year.contestants'|trans }}</th>
            <th>{{ 'weight.contestants'|trans }}</th>
            <th>{{ 'age.contestants'|trans }}</th>
            <th>{{ 'friday.participants'|trans }}</th>
            <th>{{ 'saturnday.participants'|trans }}</th>
            <th>{{ 'itc.participants'|trans }}</th>
        </tr>
        </thead>
        <tbody>
        {% for newContestant in newContestants %}
            <tr>
                <td>{{ newContestant.timestamp|date("Y-m-d H:i:s"|trans) }}</td>
                <td>{{ newContestant.registration.club }}</td>
                <td>{{ newContestant.firstName }}</td>
                <td>{{ newContestant.lastName }}</td>
                <td>{{ newContestant.year }}</td>
                <td>{{ newContestant.weightCategory }}</td>
                <td>{{ newContestant.ageCategory }}</td>
                <td>{% if newContestant.friday %}yes{% else %}no{% endif %}</td>
                <td>{% if newContestant.saturday %}yes{% else %}no{% endif %}</td>
                <td>{{ newContestant.itc }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
</div>
<hr/>
<div>
    <h3>New Transport:</h3>
    <table border="1">
        <thead>
        <tr>
            <th>{{ 'When'|trans }}</th>
            <th>{{ 'Club'|trans }}</th>
            <th>{{ 'Date'|trans }}</th>
            <th>{{ 'Time'|trans }}</th>
            <th>{{ 'Place'|trans }}</th>
            <th>{{ 'Information'|trans }}</th>
            <th>{{ 'Comment'|trans }}</th>
            <th>{{ 'Arrival'|trans }}</th>
        </tr>
        </thead>
        <tbody>
        {% for newTransport in newTransports %}
            <tr>
                <td>{{ newTransport.timestamp|date("Y-m-d H:i:s"|trans) }}</td>
                <td>{{ newTransport.registration.club }}</td>
                <td>{{ newTransport.date|date("date.date"|trans) }}</td>
                <td>{{ newTransport.time|date("date.time"|trans) }}</td>
                <td>{{ newTransport.place }}</td>
                <td>{{ newTransport.information }}</td>
                <td>{{ newTransport.comment }}</td>
                <td>{% if newTransport.isArrival %}yes{% else %}no{% endif %}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
</div>
<hr/>
<div>
    <h3>Removed Officials:</h3>
    <table border="1">
        <thead>
        <tr>
            <th>{{ 'When'|trans }}</th>
            <th>{{ 'Club'|trans }}</th>
            <th>{{ 'first_name.participants'|trans }}</th>
            <th>{{ 'last_name.participants'|trans }}</th>
            <th>{{ 'role.participants'|trans }}</th>
            <th>{{ 'gender.participants'|trans }}</th>
            <th>{{ 'friday.participants'|trans }}</th>
            <th>{{ 'saturnday.participants'|trans }}</th>
            <th>{{ 'itc.participants'|trans }}</th>
        </tr>
        </thead>
        {% for drop in droppedOfficials %}
            <tr>
                <td>{{ drop.timestamp|date("Y-m-d H:i:s"|trans) }}</td>
                <td>{{ drop.registration.club }}</td>
                <td>{{ drop.firstName }}</td>
                <td>{{ drop.lastName }}</td>
                <td>{{ drop.role }}</td>
                <td>{{ drop.gender }}</td>
                <td>{% if drop.friday %}yes{% else %}no{% endif %}</td>
                <td>{% if drop.saturday %}yes{% else %}no{% endif %}</td>
                <td>{{ drop.itc }}</td>
            </tr>
        {% endfor %}
    </table>
</div>
<div>
    <h3>Removed Contestants:</h3>
    <table border="1">
        <thead>
        <tr>
            <th>{{ 'When'|trans }}</th>
            <th>{{ 'Club'|trans }}</th>
            <th>{{ 'first_name.participants'|trans }}</th>
            <th>{{ 'last_name.participants'|trans }}</th>
            <th>{{ 'year.contestants'|trans }}</th>
            <th>{{ 'weight.contestants'|trans }}</th>
            <th>{{ 'age.contestants'|trans }}</th>
            <th>{{ 'friday.participants'|trans }}</th>
            <th>{{ 'saturnday.participants'|trans }}</th>
            <th>{{ 'itc.participants'|trans }}</th>
        </tr>
        </thead>
        {% for drop in droppedContestants %}
            <tr>
                <td>{{ drop.timestamp|date("Y-m-d H:i:s"|trans) }}</td>
                <td>{{ drop.registration.club }}</td>
                <td>{{ drop.firstName }}</td>
                <td>{{ drop.lastName }}</td>
                <td>{{ drop.year }}</td>
                <td>{{ drop.weightCategory }}</td>
                <td>{{ drop.ageCategory }}</td>
                <td>{% if drop.friday %}yes{% else %}no{% endif %}</td>
                <td>{% if drop.saturday %}yes{% else %}no{% endif %}</td>
                <td>{{ drop.itc }}</td>
            </tr>
        {% endfor %}
    </table>
</div>
<div>
    <h3>Removed Transports:</h3>
    <table border="1">
        <thead>
        <tr>
            <th>{{ 'When'|trans }}</th>
            <th>{{ 'Club'|trans }}</th>
            <th>{{ 'Date'|trans }}</th>
            <th>{{ 'Time'|trans }}</th>
            <th>{{ 'Place'|trans }}</th>
            <th>{{ 'Information'|trans }}</th>
            <th>{{ 'Comment'|trans }}</th>
            <th>{{ 'Arrival'|trans }}</th>
        </tr>
        </thead>
        {% for drop in droppedTransports %}
            <tr>
                <td>{{ drop.timestamp|date("Y-m-d H:i:s"|trans) }}</td>
                <td>{{ drop.registration.club }}</td>
                <td>{{ drop.date|date("date.date"|trans) }}</td>
                <td>{{ drop.time|date("date.time"|trans) }}</td>
                <td>{{ drop.place }}</td>
                <td>{{ drop.information }}</td>
                <td>{{ drop.comment }}</td>
                <td>{% if drop.isArrival %}yes{% else %}no{% endif %}</td>
            </tr>
        {% endfor %}
    </table>
</div>
<div>
    <h3>Other Changes:</h3>
    {% for change in changes %}
        <div>
            [{{ change.timestamp|date("Y-m-d H:i:s"|trans) }}]:{{ change.club }} has
            changed {{ change.name }} {{ change.changeSet }}
        </div>
    {% endfor %}
</div>

</body>
</html>