<!DOCTYPE html>
<html lang="{{ app.request.locale }}">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Welcome!{% endblock %}</title>
    <link rel="stylesheet"
          href="https://bootswatch.com/4/flatly/bootstrap.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css"
          integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">
    <style>
        .navbar-brand {
            padding: 0; /* firefox bug fix */
        }
    </style>
    {% block stylesheets %}{% endblock %}
    <link rel="icon" type="image/x-icon" sizes="16x16"  href="http://anmeldung.thueringer-judoverband.de/images/logo_black.svg"/>
</head>

<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"
        integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"
        integrity="sha384-smHYKdLADwkXOn1EmN1qk/HfnUcbVRZyYmZ4qpPea6sjB/pTJ0euyQp0Mk8ck+5T"
        crossorigin="anonymous"></script>

{% block javascripts %}{% endblock %}

<body>
<nav class="navbar navbar-expand-xl navbar-dark bg-primary">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <a class="navbar-brand" href="{{ path('welcome') }}">
        <img src="{{ asset('images/logo_white.svg') }}" width="100" alt="ITP"/>
    </a>
    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="nav-link" href="{{ path('welcome') }}">Home</a>
            </li>
            {% if is_granted('IS_AUTHENTICATED_FULLY') %}
                <li class="nav-item">
                    <a class="nav-link" href="{{ path('edit_registration') }}">{{ 'menu.registration_edit'|trans }}</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ path('officials') }}">{{ 'menu.officials_edit'|trans }}</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ path('contestants') }}">{{ 'menu.contestants_edit'|trans }}</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ path('transports') }}">{{ 'menu.transport_edit'|trans }}</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ path('change_password') }}">{{ 'menu.password_edit'|trans }}</a>
                </li>
                {% if is_granted('ROLE_ADMIN') %}
                    <li class="nav-item">
                        <a class="nav-link badge-warning" href="{{ path('admin') }}">{{ 'menu.admin'|trans }}</a>
                    </li>
                {% endif %}
            {% else %}
                <li class="nav-item">
                    <a class="nav-link" href="{{ path('registration') }}">{{ 'menu.registration_new'|trans }}</a>
                </li>
            {% endif %}

            <li class="nav-item">
                {% if is_granted('ROLE_PREVIOUS_ADMIN') %}
                    <a class="nav-link badge-warning"
                       href="{{ path('admin', {'_switch_user': '_exit'}) }}">{{ 'menu.logout'|trans }}</a>
                {% elseif is_granted('IS_AUTHENTICATED_FULLY') %}
                    <a class="nav-link" href="{{ path('logout') }}">{{ 'menu.logout'|trans }}</a>
                {% else %}
                    <a class="nav-link" href="{{ path('login') }}">{{ 'menu.login'|trans }}</a>
                {% endif %}
            </li>
        </ul>
    </div>
    <a class="navbar-brand ml-auto" href="{{ path(app.request.get('_route', 'welcome'), {_locale: 'de'}) }}">
        <img src="{{ asset('images/Flag_of_Germany.svg') }}" height="15" alt="DEU"/>
    </a>
    <a class="navbar-brand" href="{{ path(app.request.get('_route', 'welcome'), {_locale: 'en'}) }}">
        <img src="{{ asset('images/Flag_of_the_United_Kingdom.svg') }}" height="15" alt="ENG"/>
    </a>
    {% if is_granted('IS_AUTHENTICATED_FULLY') %}
        <span class="navbar-text">
                        {{ 'menu.logged_in_as'|trans }}
            {{ app.user.firstname|default('') }} {{ app.user.lastname|default('') }}
            ({{ app.user.club|default('') }})
                    </span>
    {% else %}
    {% endif %}
</nav>
<main role="main" class="container">
    {% block body %}{% endblock %}
</main>

<nav class="navbar fixed-bottom navbar-light bg-light">
    <a class="nav-link" href="https://www.judobund.de/fileadmin/_horusdam/11258-190323-26_-_Th%C3%BCringen-Pokal_U18-21w___ITC_Bad_Blankenburg.pdf">{{ 'invitation'|trans }}</a>
    <a class="nav-link" href="https://www.thueringer-judoverband.de/navigation-footer/impressum/">{{ 'about_us'|trans }}</a>
    <a class="nav-link mr-auto" href="https://www.thueringer-judoverband.de/links/datenschutz/">{{ 'privacy'|trans }}</a>
</nav>
</body>
</html>
