{% extends 'base.html.twig' %}

{% block title %}{{ 'title.contestants'|trans }}!{% endblock %}

{% block javascripts %}
    <script>
        $(function () {
            $('[data-toggle="tooltip"]').tooltip()
        })

        var $collectionHolder;
        var $removeFormButton = $('<td><button class="btn btn-danger" type="button"><i class="fa fa-trash" aria-hidden="true"></i></button></td>');

        jQuery(document).ready(function () {

            // Get the ul that holds the collection of tags
            $collectionHolder = $('tbody.contestants');

            // add a delete link to all of the existing tag form li elements
            $collectionHolder.find('tr').each(function () {
                addTagFormDeleteLink($(this));
            });

            // count the current form inputs we have (e.g. 2), use that as the new
            // index when inserting a new item (e.g. 2)
            $collectionHolder.data('index', $collectionHolder.find('tr').length);

            var $addTagLink = $('button.add-a-tag');
            $addTagLink.on('click', function (e) {
                // prevent the link from creating a "#" on the URL
                e.preventDefault();

                // add a new tag form (see code block below)
                addTagForm($collectionHolder, $addTagLink);
            });


        });

        function addTagForm($collectionHolder) {
            // Get the data-prototype explained earlier
            var prototype = $collectionHolder.data('prototype');

            // get the new index
            var index = $collectionHolder.data('index');

            // Replace '$$name$$' in the prototype's HTML to
            // instead be a number based on how many items we have
            var newForm = prototype.replace(/__name__/g, index);

            // increase the index with one for the next item
            $collectionHolder.data('index', index + 1);

            // Display the form in the page in an li, before the "Add a tag" link td
            var $newFormTr = $('<tr class="table-warning contestant"></tr>').append(newForm);

            addTagFormDeleteLink($newFormTr);

            $collectionHolder.append($newFormTr);
        }

        function addTagFormDeleteLink($tagFormTr) {
            var $thisRemoveFormButton = $removeFormButton.clone();
            $tagFormTr.append($thisRemoveFormButton);

            $thisRemoveFormButton.on('click', function (e) {
                // remove the li for the tag form
                $tagFormTr.remove();
            });
        }
    </script>
{% endblock %}

{% block body %}
    <div class="jumbotron">
    <h1 class="display-4">{{ 'title.contestants'|trans }}!</h1>
    <p class="lead">{{ 'description.contestants'|trans }}</p>

    <hr class="my-4">

    {{ form_start(form) }}
    <table class="table table-striped table-middle-aligned">
        <thead class="thead-dark">
        <tr class="table-sm text-center">
            <td class="bg-light" colspan="5"></td>
            <th colspan="3">{{ 'accommodation.participants'|trans }}</th>
            <td class="bg-light"></td>
        </tr>
        <tr>
            <th class="text-center" scope="col">{{ 'first_name.participants'|trans }}</th>
            <th class="text-center" scope="col">{{ 'last_name.participants'|trans }}</th>
            <th class="text-center" scope="col">{{ 'year.contestants'|trans }}</th>
            <th class="text-center" scope="col">{{ 'weight.contestants'|trans }}</th>
            <th class="text-center" scope="col">{{ 'age.contestants'|trans }}</th>
            <th class="text-center" scope="col">{{ 'friday.participants'|trans }}</th>
            <th class="text-center" scope="col">{{ 'saturnday.participants'|trans }}</th>
            <th class="text-center" data-toggle="tooltip" data-placement="top"
                title="{{ 'itc.tooltip.participants'|trans }}" scope="col">
                <ins>{{ 'itc.participants'|trans }}</ins>
            </th>
            <th class="text-center" scope="col"></th>
        </tr>
        </thead>
        <tbody class="contestants" data-prototype="
                {{ '<td class="text-center">'|e }}{{ form_widget(form.list.vars.prototype.first_name)|e }}      {{ '</td>'|e }}
                {{ '<td class="text-center">'|e }}{{ form_widget(form.list.vars.prototype.last_name)|e }}       {{ '</td>'|e }}
                {{ '<td class="text-center">'|e }}{{ form_widget(form.list.vars.prototype.year)|e }}            {{ '</td>'|e }}
                {{ '<td class="text-center">'|e }}{{ form_widget(form.list.vars.prototype.weight_category)|e }} {{ '</td>'|e }}
                {{ '<td class="text-center">'|e }}{{ form_widget(form.list.vars.prototype.age_category)|e }}    {{ '</td>'|e }}
                {{ '<td class="text-center">'|e }}{{ form_widget(form.list.vars.prototype.friday)|e }}          {{ '</td>'|e }}
                {{ '<td class="text-center">'|e }}{{ form_widget(form.list.vars.prototype.saturday)|e }}        {{ '</td>'|e }}
                {{ '<td class="text-center">'|e }}{{ form_widget(form.list.vars.prototype.itc)|e }}             {{ '</td>'|e }}
            ">
        {% for contestant in form.list %}
            <tr class="contestant">
                <td class="text-center">{{ form_widget(contestant.first_name) }}</td>
                <td class="text-center">{{ form_widget(contestant.last_name) }}</td>
                <td class="text-center">{{ form_widget(contestant.year) }}</td>
                <td class="text-center">{{ form_widget(contestant.weight_category) }}</td>
                <td class="text-center">{{ form_widget(contestant.age_category) }}</td>
                <td class="text-center">{{ form_widget(contestant.friday) }}</td>
                <td class="text-center">{{ form_widget(contestant.saturday) }}</td>
                <td class="text-center">{{ form_widget(contestant.itc) }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    {% if is_granted('ROLE_PREVIOUS_ADMIN') or date(end_date, 'Europe/Paris') > date('now', 'Europe/Paris') %}
        <div class="bg-light clearfix">
            <button class="btn btn-primary btn-lg btn-success float-left add-a-tag"
                    type="button">{{ 'generic.add'|trans }}</button>
            <input class="btn btn-secondary btn-lg float-right" name="back" type="submit" data-toggle="tooltip"
                   data-placement="top"
                   title="{{ 'generic.tooltip.save'|trans }}" value="{{ 'generic.save_and_back'|trans }}"/>
            <input class="btn btn-primary btn-lg float-right mr-1" type="submit" data-toggle="tooltip"
                   data-placement="top"
                   title="{{ 'generic.tooltip.save'|trans }}" value="{{ 'generic.save'|trans }}"/>
            <a href="{{ path('contestants') }}" class="btn btn-primary btn-lg btn-warning float-right mr-1"
               role="button"
               data-toggle="tooltip" data-placement="top"
               title="{{ 'generic.tooltip.cancel'|trans }}">{{ 'generic.cancel'|trans }}</a>
        </div>
    {% endif %}

    {{ form_end(form) }}
{% endblock %}