{% extends 'base.html.twig' %}

{% block title %}{{ 'title.officials'|trans }}!{% endblock %}

{% block javascripts %}
    <script>
        $(function () {
            $('[data-toggle="tooltip"]').tooltip()
        })

        var $collectionHolder;
        var $removeFormButton = $('<td><button class="btn btn-danger" type="button"><i class="fa fa-trash" aria-hidden="true"></i></button></td>');

        jQuery(document).ready(function () {

            // Get the ul that holds the collection of tags
            $collectionHolder = $('tbody.officials');

            // add a delete link to all of the existing tag form li elements
            $collectionHolder.find('tr').each(function () {
                addTagFormDeleteLink($(this));
            });

            // count the current form inputs we have (e.g. 2), use that as the new
            // index when inserting a new item (e.g. 2)
            $collectionHolder.data('index', $collectionHolder.find('tr').length);

            var $addTagLink = $('button.add-a-tag');
            $addTagLink.on('click', function (e) {
                // prevent the link from creating a "#" on the URL
                e.preventDefault();

                // add a new tag form (see code block below)
                addTagForm($collectionHolder, $addTagLink);
            });


        });

        function addTagForm($collectionHolder) {
            // Get the data-prototype explained earlier
            var prototype = $collectionHolder.data('prototype');

            // get the new index
            var index = $collectionHolder.data('index');

            // Replace '$$name$$' in the prototype's HTML to
            // instead be a number based on how many items we have
            var newForm = prototype.replace(/__name__/g, index);

            // increase the index with one for the next item
            $collectionHolder.data('index', index + 1);

            // Display the form in the page in an li, before the "Add a tag" link td
            var $newFormTr = $('<tr class="table-warning official"></tr>').append(newForm);

            addTagFormDeleteLink($newFormTr);

            $collectionHolder.append($newFormTr);
        }

        function addTagFormDeleteLink($tagFormTr) {
            var $thisRemoveFormButton = $removeFormButton.clone();
            $tagFormTr.append($thisRemoveFormButton);

            $thisRemoveFormButton.on('click', function (e) {
                // remove the li for the tag form
                $tagFormTr.remove();
            });
        }
    </script>
{% endblock %}

{% block body %}
    <div class="jumbotron">
    <h1 class="display-4">{{ 'title.officials'|trans }}!</h1>
    <p class="lead">{{ 'description.officials'|trans }}</p>

    <hr class="my-4">

    {{ form_start(form) }}
    <table class="table table-striped table-middle-aligned">
        <thead class="thead-dark">
        <tr class="table-sm text-center">
            <td class="bg-light" colspan="4"></td>
            <th colspan="3">{{ 'accommodation.participants'|trans }}</th>
            <td class="bg-light"></td>
        </tr>
        <tr>
            <th class="text-center" scope="col">{{ 'first_name.participants'|trans }}</th>
            <th class="text-center" scope="col">{{ 'last_name.participants'|trans }}</th>
            <th class="text-center" scope="col">{{ 'role.participants'|trans }}</th>
            <th class="text-center" scope="col">{{ 'gender.participants'|trans }}</th>
            <th class="text-center" scope="col">{{ 'friday.participants'|trans }}</th>
            <th class="text-center" scope="col">{{ 'saturnday.participants'|trans }}</th>
            <th class="text-center" scope="col" data-toggle="tooltip" data-placement="top"
                title="{{ 'itc.tooltip.participants'|trans }}">
                <ins>{{ 'itc.participants'|trans }}</ins>
            </th>
            <th class="text-center" scope="col"></th>
        </tr>
        </thead>
        <tbody class="officials" data-prototype="
                {{ '<td class="text-center">'|e }}{{ form_widget(form.list.vars.prototype.first_name)|e }}  {{ '</td>'|e }}
                {{ '<td class="text-center">'|e }}{{ form_widget(form.list.vars.prototype.last_name)|e }}   {{ '</td>'|e }}
                {{ '<td class="text-center">'|e }}{{ form_widget(form.list.vars.prototype.role)|e }}        {{ '</td>'|e }}
                {{ '<td class="text-center">'|e }}{{ form_widget(form.list.vars.prototype.gender)|e }}      {{ '</td>'|e }}
                {{ '<td class="text-center">'|e }}{{ form_widget(form.list.vars.prototype.friday)|e }}      {{ '</td>'|e }}
                {{ '<td class="text-center">'|e }}{{ form_widget(form.list.vars.prototype.saturday)|e }}    {{ '</td>'|e }}
                {{ '<td class="text-center">'|e }}{{ form_widget(form.list.vars.prototype.itc)|e }}         {{ '</td>'|e }}
            ">
        {% for official in form.list %}
            <tr class="official">
                <td class="text-center">{{ form_widget(official.first_name) }}</td>
                <td class="text-center">{{ form_widget(official.last_name) }}</td>
                <td class="text-center">{{ form_widget(official.role) }}</td>
                <td class="text-center">{{ form_widget(official.gender) }}</td>
                <td class="text-center">{{ form_widget(official.friday) }}</td>
                <td class="text-center">{{ form_widget(official.saturday) }}</td>
                <td class="text-center">{{ form_widget(official.itc) }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    <div class="bg-light clearfix">
        <button class="btn btn-primary btn-lg btn-success float-left add-a-tag" type="button">{{ 'generic.add'|trans }}</button>
        <input class="btn btn-primary btn-lg float-right" type="submit" data-toggle="tooltip" data-placement="top"
               title="{{ 'generic.tooltip.save'|trans }}" value="{{ 'generic.save'|trans }}"/>
        <a href="{{ path('officials') }}" class="btn btn-primary btn-lg btn-warning float-right mr-1" role="button"
           data-toggle="tooltip" data-placement="top"
           title="{{ 'generic.tooltip.cancel'|trans }}">{{ 'generic.cancel'|trans }}</a>
    </div>
    {{ form_end(form) }}
{% endblock %}