{% extends 'base.html.twig' %}

{% block title %}{{ 'title.officials'|trans }}!{% endblock %}

{% block javascripts %}
    <script>
        $(function () {
            $('[data-toggle="tooltip"]').tooltip()
        });

        let $collectionHolder;
        let $removeFormButton = $('<td><button class="btn btn-danger" type="button"><i class="fa fa-trash" aria-hidden="true"></i></button></td>');
        let $commentFormButton = $('<td><button type="button" class="btn btn-primary" data-toggle="modal" data-target="#commentModal" data-comment=""><i class="fa fa-comment"></i></button></td>');

        jQuery(document).ready(function () {

            // Get the ul that holds the collection of tags
            $collectionHolder = $('tbody.officials');

            // add a delete link to all of the existing tag form li elements
            $collectionHolder.find('tr').each(function () {
                addTagFormCommentLink($(this));
                addTagFormDeleteLink($(this));
            });

            // count the current form inputs we have (e.g. 2), use that as the new
            // index when inserting a new item (e.g. 2)
            $collectionHolder.data('index', $collectionHolder.find('tr').length);

            let $addTagLink = $('button.add-a-tag');
            $addTagLink.on('click', function (e) {
                // prevent the link from creating a "#" on the URL
                e.preventDefault();

                // add a new tag form (see code block below)
                addTagForm($collectionHolder, $addTagLink);
            });
        });

        function addTagForm($collectionHolder) {
            // Get the data-prototype explained earlier
            let prototype = $collectionHolder.data('prototype');

            // get the new index
            let index = $collectionHolder.data('index');

            // Replace '$$name$$' in the prototype's HTML to
            // instead be a number based on how many items we have
            let newForm = prototype.replace(/__name__/g, index);

            // increase the index with one for the next item
            $collectionHolder.data('index', index + 1);

            // Display the form in the page in an li, before the "Add a tag" link td
            let $newFormTr = $('<tr class="table-secondary official"></tr>').append(newForm);

            addTagFormCommentLink($newFormTr);
            addTagFormDeleteLink($newFormTr);

            $collectionHolder.append($newFormTr);
        }

        function addTagFormCommentLink($tagFormTr) {
            let $thisCommentFormButton = $commentFormButton.clone();

            let $commentHiddenType = $tagFormTr.find('input.hidden-comment');
            let $button = $thisCommentFormButton.find('button');
            $button.attr('data-comment', $commentHiddenType.attr('value'));
            $button.attr('data-name', $tagFormTr.find('input.hidden-first_name').attr('value') + ' ' + $tagFormTr.find('input.hidden-last_name').attr('value'));
            $button.attr('data-id', $commentHiddenType.attr('id'));

            if ($button.attr('data-comment') !== '')
                $button.removeClass('btn-primary').addClass('btn-success');

            $tagFormTr.append($thisCommentFormButton);
        }

        function addTagFormDeleteLink($tagFormTr) {
            let $thisRemoveFormButton = $removeFormButton.clone();
            $tagFormTr.append($thisRemoveFormButton);

            $thisRemoveFormButton.on('click', function () {
                // remove the li for the tag form
                $tagFormTr.remove();
            });
        }
    </script>
{% endblock %}

{% block body %}
    <div class="jumbotron">
        <h1 class="display-4">{{ 'title.officials'|trans }}!</h1>
        <p class="lead">{{ 'description.officials'|trans }}</p>

        <hr class="my-4">

        {{ form_start(form) }}
        <table class="table table-middle-aligned">
            <thead class="thead-dark">
            <tr class="table-sm text-center">
                <td class="bg-light" colspan="4"></td>
                <th colspan="3">{{ 'accommodation.participants'|trans }}</th>
                <td class="bg-light" colspan="2"></td>
            </tr>
            <tr>
                <th class="text-center" scope="col">{{ 'first_name.participants'|trans }}</th>
                <th class="text-center" scope="col">{{ 'last_name.participants'|trans }}</th>
                <th class="text-center" scope="col">{{ 'role.participants'|trans }}</th>
                <th class="text-center" scope="col">{{ 'gender.participants'|trans }}</th>
                <th class="text-center" scope="col">{{ 'friday.participants'|trans }}</th>
                <th class="text-center" scope="col">{{ 'saturnday.participants'|trans }}</th>
                <th class="text-center" scope="col" data-toggle="tooltip" data-placement="top"
                    title="{{ 'itc.tooltip.participants'|trans }}">
                    <ins>{{ 'itc.participants'|trans }}</ins>
                </th>
                <th class="text-center" scope="col"></th>
                <th class="text-center" scope="col"></th>
            </tr>
            </thead>
            <tbody class="officials" data-prototype="
                {{ '<td class="text-center">'|e }}{{ form_widget(form.officials.vars.prototype.first_name)|e }}  {{ '</td>'|e }}
                {{ '<td class="text-center">'|e }}{{ form_widget(form.officials.vars.prototype.last_name)|e }}   {{ '</td>'|e }}
                {{ '<td class="text-center">'|e }}{{ form_widget(form.officials.vars.prototype.role)|e }}        {{ '</td>'|e }}
                {{ '<td class="text-center">'|e }}{{ form_widget(form.officials.vars.prototype.gender)|e }}      {{ '</td>'|e }}
                {{ '<td class="text-center">'|e }}{{ form_widget(form.officials.vars.prototype.friday)|e }}      {{ '</td>'|e }}
                {{ '<td class="text-center">'|e }}{{ form_widget(form.officials.vars.prototype.saturday)|e }}    {{ '</td>'|e }}
                {{ '<td class="text-center">'|e }}{{ form_widget(form.officials.vars.prototype.itc)|e }} {{ form_widget(form.officials.vars.prototype.comment)|e }} {{ '</td>'|e }}
            ">
            {{ form_row(form._token) }}
            {% for official in form.officials %}
                <tr class="official">
                    <td class="text-center">{{ form_widget(official.first_name) }}</td>
                    <td class="text-center">{{ form_widget(official.last_name) }}</td>
                    <td class="text-center">{{ form_widget(official.role) }}</td>
                    <td class="text-center">{{ form_widget(official.gender) }}</td>
                    <td class="text-center">{{ form_widget(official.friday) }}</td>
                    <td class="text-center">{{ form_widget(official.saturday) }}</td>
                    <td class="text-center">{{ form_widget(official.itc) }} {{ form_widget(official.comment) }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
        {% if is_granted('ROLE_PREVIOUS_ADMIN') or date(end_date, 'Europe/Paris') > date('now', 'Europe/Paris') %}
            <div class="bg-light clearfix">
                <button class="btn btn-primary btn-lg btn-success float-left add-a-tag"
                        type="button">{{ 'generic.add'|trans }}</button>
                <input class="btn btn-secondary btn-lg float-right" name="back" type="submit" data-toggle="tooltip"
                       data-placement="top"
                       title="{{ 'generic.tooltip.save'|trans }}" value="{{ 'generic.save_and_back'|trans }}"/>
                <input class="btn btn-primary btn-lg float-right mr-1" type="submit" data-toggle="tooltip"
                       data-placement="top"
                       title="{{ 'generic.tooltip.save'|trans }}" value="{{ 'generic.save'|trans }}"/>
                <a href="{{ path('officials') }}" class="btn btn-primary btn-lg btn-warning float-right mr-1"
                   role="button"
                   data-toggle="tooltip" data-placement="top"
                   title="{{ 'generic.tooltip.cancel'|trans }}">{{ 'generic.cancel'|trans }}</a>
            </div>
        {% endif %}

        <div class="modal fade" id="commentModal" tabindex="-1" role="dialog" aria-labelledby="commentModalLabel">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h4 class="modal-title" id="exampleModalLabel">{{ 'Add a comment'|trans }}</h4>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                                    aria-hidden="true">&times;</span></button>
                    </div>
                    <div class="modal-body">
                        <form>
                            <div class="form-group">
                                <label for="comment-textarea" class="col-form-label">{{ 'Comment'|trans }}:</label>
                                <label class="modal-body-name"></label>
                                <textarea class="form-control" id="comment-textarea"></textarea>
                            </div>
                        </form>
                    </div>
                    <div class="modal-footer">
                        <button id="modal-save" onclick="save()" type="button" class="btn btn-primary"
                                data-dismiss="modal">
                            {{ 'generic.save'|trans }}
                        </button>
                    </div>
                </div>
            </div>
        </div>
        {{ form_end(form) }}
    </div>
    <script>
        $('#commentModal').on('show.bs.modal', function (event) {
            let button = $(event.relatedTarget); // Button that triggered the modal
            let comment = button.attr('data-comment'); // Extract info from data-* attributes
            let id = button.data('id'); // Extract info from data-* attributes
            let name = button.data('name'); // Extract info from data-* attributes
            // If necessary, you could initiate an AJAX request here (and then do the updating in a callback).
            // Update the modal's content. We'll use jQuery here, but you could use a data binding library or other methods instead.
            let modal = $(this);
            modal.find('.modal-body-name').text(name);
            modal.find('.modal-body textarea').val(comment);
            modal.find('.modal-body textarea').attr('data-id', id);
        });

        function save() {
            let commentTextArea = $("#comment-textarea");
            let comment = commentTextArea.val();
            let id = commentTextArea.attr('data-id');

            let $button = $('button[data-id=' + id + ']');
            if ($button.attr('data-comment') !== comment)
                $button.removeClass('btn-primary').addClass('btn-warning');
            $button.attr('data-comment', comment);
            $('#' + id).attr('value', comment);
        }

    </script>
{% endblock %}
