{% extends 'base.html.twig' %}

{% block title %}{{ 'title.transport'|trans }}!{% endblock %}

{% block body %}
    <div class="jumbotron">
    <h1 class="display-4">{{ 'title.transport'|trans }}</h1>
    <p class="lead">{{ 'description.transport'|trans }}</p>

    <hr class="my-4">

    {{ form_start(arrival_form) }}
    {{ form_start(departure_form) }}

    <div class="container">
        <div class="row">
            <div class="col">
                <h4>{{ 'Arrival'|trans }}</h4>
                <input type="checkbox" id="arrivalCheckbox" name="arrivalCheckbox"
                       aria-labelledby="arrivalCheckboxLabel" {% if arrival_checked %} checked {% endif %} >
                <label id="arrivalCheckboxLabel" for="arrivalCheckbox">{{ 'arrival_needed.transport'|trans }}</label>
                <hr class="mt-0 mb-2">

                {{ form_widget(arrival_form) }}

            </div>
            <div class="col">
                <h4>{{ 'Departure'|trans }}</h4>
                <input type="checkbox" id="departureCheckbox" name="departureCheckbox"
                       aria-labelledby="departureCheckboxLabel" {% if departure_checked %} checked {% endif %}>
                <label id="departureCheckboxLabel" for="departureCheckbox">{{ 'departure_needed.transport'|trans }}</label>
                <hr class="mt-0 mb-2">

                {{ form_widget(departure_form) }}

            </div>
        </div>
    </div>

    <div class="bg-light clearfix">
        <input class="btn btn-secondary btn-lg float-right" name="back" type="submit" data-toggle="tooltip" data-placement="top"
               title="{{ 'generic.tooltip.save'|trans }}" value="{{ 'generic.save_and_back'|trans }}"/>
        <input class="btn btn-primary btn-lg float-right mr-1" type="submit" data-toggle="tooltip" data-placement="top"
               title="Saves all changes" value="{{ 'generic.save'|trans }}"/>
        <a href="{{ path('transports') }}" class="btn btn-primary btn-lg btn-warning float-right mr-1" role="button"
           data-toggle="tooltip" data-placement="top"
           title="Undo all changes since the last save.">{{ 'generic.cancel'|trans}}</a>
    </div>

    {{ form_end(arrival_form) }}
    {{ form_end(departure_form) }}
{% endblock %}